<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head id="headerFragment" th:fragment="headerFragment(title)">
		<title th:text="${title}"></title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- The above 3 meta tags *must* come first in the head -->
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
		<link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />	
		<link rel="stylesheet" media="screen" href="/css/main.css" />		
			</head>
</html>