<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment(${title})"></head>
<!-- 
 * parallax_login.html
 * @Author original @msurguy (tw) -> http://bootsnipp.com/snippets/featured/parallax-login-form
 * @Tested on FF && CH
 * @Reworked by @kaptenn_com (tw)
 * @package PARALLAX LOGIN.
-->
<script src="/js/login.js"></script>
<body id="body_login">
<div class="container text-center header_jumb">
  <h1>Berry-Home-Automation</h1>
  <p>Login to view all Data and Controls</p> 
</div>
	<div class="container">
                <div class="row vertical-offset-100">
								<div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">                                
                                <div class="row-fluid user-row">
                                    <img
													src="http://s11.postimg.org/7kzgji28v/logo_sm_2_mr_1.png"
													class="img-responsive" alt="Conxole Admin" />
                                </div>
                            </div>
                            <div class="panel-body">
                                <form accept-charset="UTF-8" role="form"
												class="form-signin" action="/login/auth" method="POST">
                                    <fieldset>
                                        <label class="panel-login">
                                      
			  								<div class="login_result" th:if="${error}" th:text="(${error})"></div>
										
                                        </label>
                                        <input class="form-control"
														placeholder="Username" name="username" id="username" type="text"></input>
                                        <input class="form-control"
														placeholder="Password" name="password" id="password" type="password"></input>
                                        <br></br>
                                        <input
														class="btn btn-lg btn-success btn-block" type="submit"
														id="login" value="Login »"></input>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            
						</div>
        </body>
    </html>